# Introduction

### Getting familiar with Jupyter. Two cell types. Basic calculations.

[https://colab.research.google.com](https://colab.research.google.com)

In [2]:
2 + 2 * 5 - (1 + 1)

10

### Variables
*In computer programming, a variable or scalar is a storage location (identified by a memory address) paired with an associated symbolic name, which contains some known or unknown quantity of information referred to as a value. The variable name is the usual way to reference the stored value, in addition to referring to the variable itself, depending on the context. This separation of name and content allows the name to be used independently of the exact information it represents.* 

-- Wikipedia

In [3]:
x = 1
y = 2

In [4]:
x + y

3

In [5]:
my_variable = 5
another_variable = 10
my_variable + another_variable

15

Note on cell order. Bellow are three cells. Try to execute first one, then second, then third, then second again

In [6]:
x = 1

In [7]:
print(x)

1

In [8]:
x = 2

Some Arithmetic Operators:

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| //  | integer division |
| *  | multiplication |
| **  | to the power of |
| % | modulo |

In [ ]:
15 / 4

In [9]:
15 // 4

3

In [ ]:
x ** 2

In [ ]:
2**3 + 5* x / 11

Some relational operators:

| Symbol | Task Performed |
|----|---|
| == | True, if both sides are equal |
| !=  | True, if both sides are not equal |
| < |True, if the left side is smaller |
| > | True, if the left side is greater |
| <=  | True, if the left side is smaller or equal to the right side |
| >=  | True, if the left side is greater or equal to the right side |

*An operator is something that takes one or more values (or expressions, in programming jargon) and yields another value (so that the construction itself becomes an expression)*

-- https://computersciencewiki.org/index.php/Operators

In [10]:
5 != 3

True

In [ ]:
x > 5

In [ ]:
x != y

### Simple function calls

Conveniently, in Jupyter the last statement of a cell gets printed automatically. Typically, in Python you have to use the print function instead. This also allows you multiple print-outs per cell:

In [ ]:
print (2 + 2)
print (4 + 5)
print (x == 10)

In [ ]:
print("Hello World")

There are several built-in function in Python that you can always call, see https://docs.python.org/3/library/functions.html. for a full list. We will discuss several of these functions also throughout the course.

In [ ]:
abs(-5)

In [ ]:
max(3, 5)

In [ ]:
x = 6
max(6, 0)

In [ ]:
print(max(x, 5), max(1, 3))

We can also do similar things with strings (=text):

In [ ]:
print(max('abc', 'abcd'))

### Most basic data types

| type | description |
|----|---|
| int | integer number |
| float  | floating point number |
| bool | True or False |
| string | text |

We can check the type of a variable with the "type" function.

In [2]:
print(type(5))
print(type(5.0))
print(type("Hello World"))
print(type('Hello World')) # " " and ' ' can be used equivalently

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

We can use other types in a similar way as numbers, quite intuitively:

In [ ]:
print("Hello " + "World" + "!")
print("Is 'A' alphabetically before 'B'?")
print('A' < 'B')

In [ ]:
"hello" + 2

But of course, different data types allow for different functions:

In [ ]:
len("How long is this string?")

In [ ]:
x = 10
len(x)

### Conversion between types
You can convert between these types by casting:

In [ ]:
x_as_int = 10
print (type(x_as_int))

x_as_string = str(x_as_int)
print (type(x_as_string))

print (len(x_as_string))

A typical conversion for prints:

In [ ]:
print ("My variable x is " + str(x_as_int))

### String functions
*String: a sequence of characters*

In [ ]:
s = "Python is my new favorite language"
len(s)

In [ ]:
s.lower()

In [ ]:
s.upper()

In [ ]:
s.startswith('P')

In [ ]:
s.startswith('p') # Be careful, its case sensitive

In [ ]:
s.replace ("my", "your")

In [ ]:
s.replace ("a", "4") # replaces all occurences

In [ ]:
s

In [ ]:
# be careful: replace() does not change the string, it returns a new string!
s.replace("a", "4")
s.replace("o", "0")

In [ ]:
s.replace ("a", "4").replace ("o", "0")